<a href="https://www.facebook.com/Idzan.Marko.Official" target="_blank" rel="noopener noreferrer" title="Opens in new tab">
                <span class="visually-hidden" aria-hidden="true">Facebook </span>
                <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                <svg class="icon facebook">
                    <use href="/svg/sprite.svg#facebook"></use>
                </svg>
            </a>
            <a href="https://twitter.com/idzanmarko" target="_blank" rel="noopener noreferrer" title="Opens in new tab">
                <span class="visually-hidden" aria-hidden="true">Twitter </span>
                <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                <svg class="icon twitter">
                    <use href="/svg/sprite.svg#twitter"></use>
                </svg>
            </a>
            <a href="https://www.linkedin.com/in/markoidzan/" target="_blank" rel="noopener noreferrer" title="Opens in new tab">
                <span class="visually-hidden" aria-hidden="true">LinkedIn </span>
                <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                <svg class="icon linkedin">
                    <use href="/svg/sprite.svg#linkedin"></use>
                </svg>
            </a>
            <a href="https://www.youtube.com/channel/UC1E7cbcnFqHEqTYmbZHKDPA" target="_blank" rel="noopener noreferrer" title="Opens in new tab">
                <span class="visually-hidden" aria-hidden="true">YouTube </span>
                <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                <svg class="icon youtube">
                    <use href="/svg/sprite.svg#youtube"></use>
                </svg>
            </a>
            <a href="https://www.instagram.com/idzan.marko.official/" target="_blank" rel="noopener noreferrer" title="Opens in new tab">
                <span class="visually-hidden" aria-hidden="true">Instagram </span>
                <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                <svg class="icon instagram">
                    <use href="/svg/sprite.svg#instagram"></use>
                </svg>
            </a>
            <a href="https://github.com/idzan" target="_blank" rel="noopener noreferrer" title="Opens in new tab">
                <span class="visually-hidden" aria-hidden="true">GitHub </span>
                <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                <svg class="icon github">
                    <use href="/svg/sprite.svg#github"></use>
                </svg>
            </a>
            <a href="https://www.reddit.com/r/MarkoIdzanOfficial/" target="_blank" rel="noopener noreferrer" title="Opens in new tab">
                <span class="visually-hidden" aria-hidden="true">Reddit </span>
                <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                <svg class="icon reddit">
                    <use href="/svg/sprite.svg#reddit"></use>
                </svg>
            </a>