---
title: About Me
description: About and CV for Marko Idžan
permalink: about.html
image: img/og-image.png
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>About me</h1>
        <section>
            <p>Marko Idžan is a Croatian Freelance Web Designer & Administrator with experiences in IT Administration. I was born in early September of 1993 and I’m Christian Catholic. Personally I have couple of hobbies and those are Biking, Photography and Video Production.</p>
            <p>Education and learning about Computing started in Primary School “Žitnjak” in year 2000. For High School I went to Technical School “Ruđera Boškovića” where I graduated as Computer Technician in 2012. As for College I went to Zagreb University of Applied Sciences in two degrees, from I finished degree in Computing for Bachelor of Technology.</p>
            <p>I have worked for multiple companies on position of IT Administrator and Web Shop Manager. Those Companies are Gold Deal Ltd. where I started working in November of 2016. In January of 2018 I went to new company Great Choice Ltd., and final company was Global Print Ltd. where I started working in October 2018, and finished working in end of December 2018.</p>
            <hr>
            <h3>Education</h3>
            <p><strong>Technical High School of &quot;Ruđera Boškovića&quot;, Zagreb</strong> <br> Graduated Computing Technician (2008 – 2012)</p>
            <p><strong>Zagreb University of Applied Sciences</strong> <br> Electrical Engineering, Communications and Computer Technology (2012 – 2016)</p>
            <p><strong>Zagreb University of Applied Sciences</strong> <br> Computing, Computer Systems and Networking, Bacc. Ing. Comp. (2016 – 2019)</p>
            <hr>
            <h3>Career</h3>
            <p><strong>Gold Deal Ltd.</strong> <br> IT Administrator, Web Shop Administrator, Social Media Manager (Nov. 2016 – Jan. 2018)</p>
            <p><strong>Great Choice Ltd.</strong> <br> IT Administrator, Web Shop Administrator, Social Media Manager, Web Designer (Jan. 2018 – Oct. 2018)</p>
            <p><strong>Global Print Ltd.</strong> <br> IT Administrator, Social Media Manager, UX/UI Designer, Video Producer (Oct. 2018 – Dec. 2018)</p>
            <p><strong>Self-Employed</strong> <br> Freelance Web Designer & Administrator (Jan. 2018 – Present)</p>
            <hr>
            <h3>Skills</h3>
            <p><strong>Web Design (HTML, CSS, JS)</strong> - Advanced (4.5/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
            <p><strong>Web Development (php)</strong> - Basic (2.5/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
            <p><strong>Web Administration (WordPress, Joomla, Prestashop)</strong> - Advanced (4.5/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
            <p><strong>SEO/SEM</strong> - Intermediate (3.5/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
            <p><strong>Objective Oriented Programming (Java, C#)</strong> - Basic (2.5/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
            <p><strong>System Administration (Windows)</strong> - Advanced (4.5/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
            <p><strong>System Administration (Linux)</strong> - Intermediate (4/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
            <p><strong>System Administration (macOS/OS X)</strong> - Intermediate (4/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
            <p><strong>Social Media Management</strong> - Intermediate (4/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
            <p><strong>Graphics Design</strong> - Basic (3/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
            <p><strong>Photography</strong> - Intermediate (3.5/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
            <p><strong>Video Production</strong> - Basic (3/5) <svg class="icon star"><use xlink:href="/svg/sprite.svg#star"></use></svg></p>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>