<footer>
        <div class="legal">
            <a href="/privacy.html">Privacy Policy</a>
            <a href="/terms.html">Terms of Service</a>
            <a role="link" id="cookieChange" nonce="Y2hhbmdlQ29va2llQ29uc2VudA==">Change Cookie Settings</a>
        </div>
        <div class="social">
            {% include footer/social.html %}
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2010 - 2020 by Marko Idzan <br> All Rights Reserved.</p>
            <div class="user-toggle">
                <div role="status" class="[ visually-hidden ][ js-mode-status ]"></div>
                <button class="[ toggle-button ] [ js-mode-toggle ]">
                    <span class="[ toggle-button__text ] [ js-mode-toggle-text ]">Enable dark mode</span>
                    <span class="toggle-button__icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </footer>