<div class="navigation">
        <input type="checkbox" id="nav-switch" name="nav-switch" class="menu-checkbox" aria-label="Menu" >
        <label for="nav-switch" class="menu">
            <span class="visually-hidden" aria-hidden="true">Menu</span>
            <span></span>
        </label>
        <img src="/svg/logo.svg" alt="Marko Idzan" class="logo">
        <nav role="navigation" aria-label="mainNavigation">
            {% for item in site.data.navigation %}
            <a href="{{ item.link }}" class="menu-item" {% if page.url == item.link %}aria-current="page"{% endif %} role="menuitem" title="{{ item.name }}">{{ item.name }}</a>
            {% endfor %}
        </nav>
    </div>